.App {
  margin: 20px auto;
  position: relative;
  width: 280px;
  height: 500px;
  background-color: rgb(236, 229, 221);
  display: flex;
  flex-direction: column;
}

.App > header {
  height: 50px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.App > section {
  position: relative;
  height: 0;
  flex: 1 0 auto;
  background-color: rgb(102, 98, 98);
}

.App > footer {
  height: 50px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.App > footer > button {
  width: 56px;
}

#game-renderer {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 400px;
}

#btnStart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}